.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $light-blue;
  color: white;
  outline: none;
  padding: $s-size;
  text-align: center;
  min-width: 75%;
  max-width: 100%;
}

.modal__title {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  margin: 0 0 $m-size 0;
  font-size: 2rem;
}

.modal__first-set {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  font-size: 2rem;
}

.modal__and {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
}

.modal__body {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 $l-size 0;
  word-break: break-all;
}

.modal__exit {
  cursor: pointer;
  font-weight: 500;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  justify-self: end;
  &:hover{
    color: gray;
  }
}

.modal__timer {
  grid-row: 3 / 4;
  grid-column: 2;
  font-size: 2rem;
}

.modal__set {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  justify-self: start;
}

.grid {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem; 
  grid-template-rows: 2rem 1fr 1fr 1fr;
}

@media (min-width: $small-breakpoint) {
  .modal {
    min-width: 50%;
    max-width: 75%;
  }
}

@media (min-width: $large-breakpoint) {
  .modal {
    min-width: 30%;
    max-width: 50%;
  }
}